.contained {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    padding: 10px; /* Adjusted padding for spacing */
    max-width: 1000px; /* Adjusted max width */
}

.stats-container {
    border-radius: 15px;
    box-shadow: 0px 2px 4px rgba(47, 47, 47, 0.2);
    background-color: #fff;
    color: #3d1c35;
    padding: 15px; /* Adjusted padding for spacing */
    width: 210px; /* Reduced width for smaller containers */
    height: 120px; /* Reduced height for smaller containers */
    text-align: center;
    display: inline-block;
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 10px; /* Added margin for spacing between containers */
}

.stats-container:hover {
    background-color: #5d154b;
    color: #fff;
}

.stats-container span {
    font-size: 50px; /* Reduced font size for numbers */
    font-weight: bold;
    margin-left: 5px;
}

#totalMaleContainer,
#totalFemaleContainer,
#totalEmployeesContainer,
#totalTSContainer,
#totalFsContainer,
#totalGsContainer {
    font-size: 20px; /* Reduced font size for labels */
}

.content {
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header h2 {
    margin: 0;
    font-size: 24px;
  }
  
  .year-filter {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 5px;
  }
  
  .year-filter select {
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .applyButton {
    padding: 8px 12px;
    background-color: #5d154b;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: -1px;
  }
  
  .options {
    display: flex;
    align-items: center;
  }
  
  .custom-dropdown {
    position: relative;
    margin-right: 10px;
  }
  
  .custom-dropdown select {
    position: absolute;
    top: 100%;
    left: 0;
    margin-right: -10px;
    z-index: 100;
    display: none;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
  }
  
  .dropdown-arrow {
    position: absolute;
    top: 50%;
    /* right: 10px; */
    transform: translateY(-50%);
    color: #666;
    cursor: pointer;
  }
  
  .dropdown-text {
    display: inline-block;
    margin-right: 5px;
    font-weight: bold;
    padding: 10px;
  }
  