.contained {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; /* Adjust the height as needed */
    margin-left: 5px;
}

.stats-container {
    border-radius: 15px;
    box-shadow: 0px 2px 4px rgba(47, 47, 47, 0.2);
    background-color: #fff;
    color: #3d1c35;
    padding: 15px; /* Adjusted padding for spacing */
    width: 220px; /* Reduced width for smaller containers */
    height: 120px; /* Reduced height for smaller containers */
    text-align: center;
    display: inline-block;
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 10px; /* Added margin for spacing between containers */
}

.stats-container:hover {
    background-color: #5d154b;
    color: #fff;
}

.stats-container span {
    font-size: 50px; /* Reduced font size for numbers */
    font-weight: bold;
    margin-left: 5px;
}

#totalMaleContainer,
#totalITContainer,
#totalFemaleContainer,
#totalEmployeesContainer {
    font-size: 20px; /* Reduced font size for labels */
}
