
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  background-color: #e8e8e8f0;
}

.sidebar {
  position: relative;
  width: 256px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  padding: 24px;
  border-radius: 30px;
  transition: all 0.3s;
}
.sidebar {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f6f6f6;
}

.head {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f6f6f6;
}

.user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.user-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.user-details .title,
.menu .title {
  font-size: 10px;
  font-weight: 500;
  color: #757575;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.user-details .name {
  font-size: 14px;
  font-weight: 500;
}
.nav {
  flex: 1;
}
.menu ul li {
  position: relative;
  list-style: none;
  margin-bottom: 5px;
}
.menu ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #757575;
  text-decoration: none;
  padding: 12px 8px;
  border-radius: 8px;
  transition: all 0.3s;
}
.menu ul li > a:hover,
.menu ul li.active > a {
  color: #000;
  background-color: #f6f6f6;
}
.menu ul li .icon {
  font-size: 20px;
}
.menu ul li .text {
  flex: 1;
}
.menu ul li .arrow {
  font-size: 14px;
  transition: all 0.3s;
}
.menu ul li.active .arrow {
  transform: rotate(180deg);
}
.menu .sub-menu {
  display: none;
  margin-left: 20px;
  padding-left: 20px;
  padding-top: 5px;
  border-left: 1px solid #f6f6f6;
}
.menu .sub-menu li a {
  padding: 10px 8px;
  font-size: 12px;
}
.menu:not(:last-child) {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #f6f6f6;
}
.menu-btn {
  position: absolute;
  right: -14px;
  top: 3.5%;
  width: 28px;
  height: 28px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #757575;
  border: 2px solid #f6f6f6;
  background-color: #fff;
}
.menu-btn:hover i {
  color: #000;
}
.menu-btn i {
  transition: all 0.3s;
}
.sidebar.active {
  width: 92px;
}
.sidebar.active .menu-btn i {
  transform: rotate(180deg);
}
.sidebar.active .user-details {
  display: none;
}
.sidebar.active .menu .title {
  text-align: center;
}
.sidebar.active .menu ul li .arrow {
  display: none;
}
.sidebar.active .menu > ul > li > a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar.active .menu > ul > li > a .text {
  position: absolute;
  left: 70px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.sidebar.active .menu > ul > li > a .text::after {
  content: "";
  position: absolute;
  left: -5px;
  top: 20%;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: #000;
  transform: rotate(45deg);
  z-index: -1;
}
.sidebar.active .menu > ul > li > a:hover .text {
  left: 50px;
  opacity: 1;
  visibility: visible;
}
.sidebar.active .menu .sub-menu {
  position: absolute;
  top: 0;
  left: 20px;
  width: 200px;
  border-radius: 20px;
  padding: 10px 20px;
  border: 1px solid #f6f6f6;
  background-color: #fff;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
}
.container {
  display: flex;
  /* align-items: center; */
}

.form-container {
  flex: 1;
  padding: 20px;

}

.content {
  flex: 1;
}
 img {
  width: 150px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  padding-left: 0px;
  padding-top: 10px;
}

.myform {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #404040;
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  box-shadow: 0px 1px 4px rgba(47, 47, 47, 0.837);
}

fieldset {
  width: 100%;
  padding: 20px;
  border: none;

  height: 200px;
  text-align: center;
}

label {
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}

input {
  width: calc(100% - 20px);
  height: 30px;
  padding: 5px 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */
/*
button:hover {
  background-color: #0056b3;
} */

/* Style for the table */
table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Ensure rounded corners are displayed */
  border: 1px solid #000000;
  
  background-color: #ffffff;

}

th {
  border-bottom: 2px solid rgb(0, 0, 0) ;
  background-color: #ffffff;
  /* border: 1px solid rgb(0, 0, 0) ; */
  padding: 8px;
  text-align: left;
  color: #783767;
}

th, td {
  padding: 12px;
  text-align: left;
}

td {
  color: #5d5d5d;
}

table tr:hover {
  background-color: #b0b0b0;
}

table tr:nth-child(even) {
  background-color: hsl(0, 0%, 98%);
  border-bottom: 1px solid #69696989;
}


table tr:hover {
  background-color: #e9e9e9;
}

/* Style for table headers */
/* th {
  background-color: #F0F0F0;
  border: 1px solid rgb(0, 0, 0) ;
  padding: 8px;
  text-align: left;
} */

/* Style for table data cells */
/* td {
  border: 1px solid #ddd;
  padding: 8px;
} */

/* .table-container {
    display: flex;
    flex-direction: row;
} */

.staff-details {
    margin-right: 30px; /* Add some margin between the tables */
}


  button {
    margin-top: 5px;
    padding: 10px 20px;
    background-color: #783767;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #000000;
  }

  #addStaffButton {
    margin-bottom: 10px;
    margin-left: auto;
  }
  /* i{
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    color: #3d1c35;
  } */
