body {
  width: 100%;
  height: 100vh;
  margin: auto;
  background-color: #f0f0f0;
  color: #000000;
  font-family: Tahoma;
  font-size: 16px;
}
.container {
  display: flex;
}

.sidebar {
  width: 250px; 
  background-color: #26262f;
  color: white;;
  padding-top: 20px;
  position: fixed; /* Set the sidebar position to fixed */
  top: 0; /* Align the sidebar to the top of the viewport */
  bottom: 0; /* Extend the sidebar to the bottom of the viewport */
}

.form-container {
  flex: 1;
  padding: 20px;
}

.content {
  flex: 1;
  padding: 20px;
}
 img {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
padding-left: 75px;
}


.sidebar a {
  display: block; /* Make the links behave as block elements */
  color: white; /* Text color */
  text-decoration: none; /* Remove default underline */
  font-size: 15px;
  padding: 10px 0 10px 30px ; /* Add padding */
}


.sidebar a:hover {
  width: auto;
  background-color: #ddd; /* Background color on hover */
  color: black; /* Text color on hover */
}

fieldset{
  color: #404040;
  width: 60%;
  margin: auto;
  border: none;
  padding-left: 250px;
}
h1{
  font-size: 40px;
  text-align: center;
}
h2{
  font-size: 25px;
  text-align: center;
  padding-bottom: 10px;
}
h3{
  font-size: 20px;
  text-align: center;
  text-decoration: solid;
}
.contents{
  padding-left: 350px;
}
label {
  font-size: 20px;
  display: block;
  margin: 0.5rem 0;
}
input
{
  margin:0 auto;
  width: 100%;
  min-height: 30px;
  background-color: #cdcde4;
  border: 1px solid #bdbdd4;
  color: #000000;
  font-size: 20px;
}
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #03295A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  