body {
  width: 65%;
  height: 100vh;
  margin: auto;
  background-color: #1b1b32;
  color: #f5f6f7;
  font-family: Tahoma;
  font-size: 16px;
}
h1{
  font-size: 25px;
  text-decoration: underline;
}
label {
  display: block;
  margin: 0.5rem 0;
}
input
{
  margin:0 auto;
  width: 100%;
  min-height: 2em;
  background-color: #0a0a23;
  border: 1px solid #bdbdd4;
  color: #ffffff;
}
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
<<<<<<< HEAD
=======

  .calculator-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  #staffDetailsContainer {
    margin-top: 20px;
  }
  
  #staffDetails {
    padding: 10px;
    border: 1px solid #ddd;
    color: #0a0a23;
    border-radius: 4px;
    background-color: #f9f9f9;
  }
  
  #staffDetails ul {
    list-style: none;
    padding: 0;
  }
  
  #staffDetails ul li {
    margin-bottom: 8px;
  }
>>>>>>> 920fff1845d817f4478510344f897c29e35222ab
  